//Development
DB_PASSWORD=P4ssW0rD
DB_NAME=bookmarkDB
DB_USERNAME=postgres

//Produccion
DATABASE_URL="postgresql://postgres:P4ssW0rD@localhost:5432/bookmarkDB"


DB_HOST=localhost
DB_PORT=5432

PORT=3008
HOST_API=http://localhost:3008/api
FRONTEND_URL=http://localhost:3000

JWT_SECRET=palabra_secreta

GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

NODE_ENV=development